.task {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.info {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    padding: 0 16px;
}

@media (min-width: 600px) {
    .info {
        max-width: 600px; 
    }
}

@media (min-width: 768px) {
    .info {
        max-width: 736px;
        min-width: 300px;
    }
}

.taskCreate {
    font-size: 1rem;
    color: var(--blue);
    font-weight: bold;
}

.taskCreate>span {
    background-color: var(--gray-400);
    padding: 2px 8px;
    border-radius: 999px;
    width: 25px;
    height: 19px;
    color: var(--gray-200);
}

.taskConcludes {
    font-size: 1rem;
    color: var(--purple);
    font-weight: bold;
}

.taskConcludes>span {
    background-color: var(--gray-400);
    padding: 2px 8px;
    border-radius: 999px;
    width: 25px;
    height: 19px;
    color: var(--gray-200);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
    border-top: 1px solid var(--gray-400);
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
}

@media (min-width: 600px) {
    .content {
        max-width: 600px; 
    }
}

@media (min-width: 768px) {
    .content {
        max-width: 736px;
        min-width: 300px;
    }
}


.content img {
    margin-top: 64px;
}

.content>strong {
    margin-top: 16px;
    line-height: 140%;
    font-size: 1rem;
    color: var(--gray-300);
}

.content>strong>p {
    font-weight: bold;
}
.content>strong> span {
    font-weight: 300;
}

.list {
    margin-top: 24px;
    display: flex;
    width: 736px;
    background-color: var(--gray-500);
    padding: 16px 16px;
    border-radius: 8px;
    min-height: 72px;
    gap: 0.6rem;
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;
    flex-direction: row;
    border: 1px solid var(--gray-400);
    outline-offset: 1px;
}

.descriptionTask {
    line-height: 140%;
    color: var(--gray-100);
    font-size: 14px;
    display: flex;
    flex: 1;
}

.checkbox {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 3.273px;
    justify-content: center;
    align-items: center;
}

.icon {
    display: block;
    width: 24px;
    height: 24px;
    padding: 4px 5px;
    justify-content: center;
    align-items: center;
    color: var(--gray-300);
}

.icon:hover {
    border-radius: 4px;
    background: var(--gray-400);
    cursor: pointer;
    color: var(--danger);
    transition: 0.3s;
}